@import url("observablehq:default.css");
@import url("observablehq:theme-cotton.css");
@import url("observablehq:theme-air.css");

svg text,
.bubble-chart,
.bubble-chart__tooltip {
  font-family: "Monda", var(--sans-serif);
}

:root {
  
  --chart-opacity-default: 0.75;
  --chart-group-fill-opacity: 0.08;
  --chart-stroke-thin: 0.75;
  --chart-stroke-strong: 1.5;
  --chart-label-font-sm: 0.85rem;
  --chart-label-font-md: 14px;
  --chart-label-font-lg: 16px;
}
